---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <h1>Welcome to TastyBites</h1>
  </main>
</BaseLayout>

<style>
  h1 {
    font-family: var(--font-barlow), Georgia, serif;
    font-weight: 700;
  }

  main {
    height: 70dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
